/* font link */


* {
  margin: 0px;
  padding: 0px;
}
html {
  padding: 0px;
  margin: 0 auto;
  font-weight: 400;
}
body {
  margin: 0px auto;
  padding: 0px;
}
p {
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
img {
  width: 100%;
  display: block;
  height: auto;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: transparent;
}
a,
button {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}



/*------------------
    Variable 
------------------*/
:root {
  --color1: #1e2a39;
  --color2: #ffa654;
  --color3: #60687d;
  --color4: #fff;
  --bg1: #000;
  --bg2: #2c2c2b;
}
